<%= form_with model: @kitten do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_area :age %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.text_area :cuteness %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.text_area :softness %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>